# Pokemon

### Step 1. 필요한 라이브러리 들을 import 하세요

In [1]:
import pandas as pd

### Step 2. 다음과 같은 dictionary를 생성하세요

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. pokemon이라는 변수에 DataFrame 을 할당하세요

In [3]:
pokemon = pd.DataFrame(raw_data)
print(pokemon)

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [4]:
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. DataFrame 열이 알파벳 순서로 되어있습니다. name, type, hp, evolution, pokedex 의 순서로 column을 배치하세요

In [8]:
pokemon = pokemon[["name", "type", "hp", "evolution", "pokedex"]]

In [9]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. "place" column을 만들고 ['park','street','lake','forest'] 순서로 할당하세요

In [10]:
place = ['park','street','lake','forest']

In [12]:
pokemon.loc[:, "place"] =place
# pokemon["place"] =place #동일함

C:\Users\ohminy\AppData\Local\Temp\ipykernel_9508\4200088223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon.loc[:, "place"] =place

In [15]:
pokemon

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

### Step 6. 각 column의 datatype을 확인해보세요

In [16]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

In [17]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html