# Wine

### Introduction:
UCI Wine dataset.

### Step 1. 필요한 라이브러리 들을 import 하세요

In [1]:
import pandas as pd
import numpy as np

### Step 2. 다음 주소의 파일을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/wine.data).

### Step 3. wine 라는 변수에 DataFrame 을 할당하세요

In [3]:
url = "https://raw.githubusercontent.com/myoh0623/dataset/main/wine.data"

In [6]:
wine = pd.read_csv(url) #header=None
wine

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

### Step 4. 첫번째, 네번째, 일곱번째, 아홉번째, 열한번째, 열세번째, 열네번째 column 을 삭제하세요

In [8]:
step_4_index = wine.columns[[0, 3, 6, 8, 10, 12, 13]]

In [9]:
wine.drop(step_4_index, axis=1, inplace=True)
wine

     14.23  1.71  15.6  127  3.06  2.29  1.04
0    13.20  1.78  11.2  100  2.76  1.28  1.05
1    13.16  2.36  18.6  101  3.24  2.81  1.03
2    14.37  1.95  16.8  113  3.49  2.18  0.86
3    13.24  2.59  21.0  118  2.69  1.82  1.04
4    14.20  1.76  15.2  112  3.39  1.97  1.05
..     ...   ...   ...  ...   ...   ...   ...
172  13.71  5.65  20.5   95  0.61  1.06  0.64
173  13.40  3.91  23.0  102  0.75  1.41  0.70
174  13.27  4.28  20.0  120  0.69  1.35  0.59
175  13.17  2.59  20.0  120  0.68  1.46  0.60
176  14.13  4.10  24.5   96  0.76  1.35  0.61

[177 rows x 7 columns]

### Step 5.다음과 같은 순서로 columns을 만드세요

1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [10]:
wine.columns = ["alcohol"
, "malic_acid"
, "alcalinity_of_ash"
, "magnesium"
, "flavanoids"
, "proanthocyanins"
, "hue"]

In [11]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,0.64
173,13.40,3.91,23.0,102,0.75,1.41,0.70
174,13.27,4.28,20.0,120,0.69,1.35,0.59
175,13.17,2.59,20.0,120,0.68,1.46,0.60
176,14.13,4.10,24.5,96,0.76,1.35,0.61

### Step 6. alcohol의 처음 3개 행의 값을 NaN으로 설정하세요

In [17]:
wine.iloc[:3, :].loc[:, "alcohol"] = np.nan

C:\Users\ohminy\AppData\Local\Temp\ipykernel_10908\2484619281.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  wine.iloc[:3, :].loc[:, "alcohol"] = np.nan

In [18]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,1.05
1,NaN,2.36,18.6,101,3.24,2.81,1.03
2,NaN,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,0.64
173,13.40,3.91,23.0,102,0.75,1.41,0.70
174,13.27,4.28,20.0,120,0.69,1.35,0.59
175,13.17,2.59,20.0,120,0.68,1.46,0.60
176,14.13,4.10,24.5,96,0.76,1.35,0.61

### Step 7. magnesium 의 3행과 4행의 값을 NaN으로 설정하세요

In [20]:
wine.iloc[2:4, 3] = np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,NaN,1.95,16.8,NaN,3.49,2.18,0.86
3,13.24,2.59,21.0,NaN,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

### Step 8. NaN 값을 알코올의 경우 10, 마그네슘의 경우 100으로 채우세요

In [21]:
wine.alcohol.fillna(10, inplace=True)
wine.magnesium.fillna(100, inplace=True)

In [22]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,2.36,18.6,101.0,3.24,2.81,1.03
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,0.64
173,13.40,3.91,23.0,102.0,0.75,1.41,0.70
174,13.27,4.28,20.0,120.0,0.69,1.35,0.59
175,13.17,2.59,20.0,120.0,0.68,1.46,0.60
176,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Step 9. 데이터 프레임의 각컬럼 마다 누락된 값이 존재 합니까?

In [24]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [25]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   alcohol            177 non-null    float64
 1   malic_acid         177 non-null    float64
 2   alcalinity_of_ash  177 non-null    float64
 3   magnesium          177 non-null    float64
 4   flavanoids         177 non-null    float64
 5   proanthocyanins    177 non-null    float64
 6   hue                177 non-null    float64
dtypes: float64(7)
memory usage: 9.8 KB

### Step 10. 0부터 9까지 10개의 난수로 구성된 np.array를 만드세요

In [33]:
np.random.seed(1234)
random_value = np.random.randint(0, 10, size=10)

### Step 11. alcohol column에 생성한 난수를 인덱스로 사용하여 각 셀에 NaN 값을 할당하세요

In [36]:
random_value

array([3, 6, 5, 4, 8, 9, 1, 7, 9, 6])

In [35]:
wine.alcohol[random_value] = np.nan
wine.head(10)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.0,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,2.36,18.6,101.0,3.24,2.81,1.03
2,10.0,1.95,16.8,100.0,3.49,2.18,0.86
3,NaN,2.59,21.0,100.0,2.69,1.82,1.04
4,NaN,1.76,15.2,112.0,3.39,1.97,1.05
5,NaN,1.87,14.6,96.0,2.52,1.98,1.02
6,NaN,2.15,17.6,121.0,2.51,1.25,1.06
7,NaN,1.64,14.0,97.0,2.98,1.98,1.08
8,NaN,1.35,16.0,98.0,3.15,1.85,1.01
9,NaN,2.16,18.0,105.0,3.32,2.38,1.25

### Step 12. DataFrame에 누락된 값이 몇 개입니까?

In [37]:
wine.isnull().sum()

alcohol              8
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 13. NaN값이 있는 행을 삭제 하세요

In [38]:
wine.dropna(axis = 0 , inplace=True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,1.95,16.8,100.0,3.49,2.18,0.86
10,14.12,1.48,16.8,95.0,2.43,1.57,1.17
11,13.75,1.73,16.0,89.0,2.76,1.81,1.15
12,14.75,1.73,11.4,91.0,3.69,2.81,1.25

### Step 14. alcohol column에서 not-null 인 값만 출력하세요

In [42]:
# 필터링
wine[wine.alcohol.notnull()].alcohol

0      10.00
2      10.00
10     14.12
11     13.75
12     14.75
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 169, dtype: float64

In [46]:
wine[~wine.alcohol.isnull()].alcohol

0      10.00
2      10.00
10     14.12
11     13.75
12     14.75
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 169, dtype: float64

In [ ]:
# wine[wine.alcohol.isnull()].alcohol

### Step 15. index 를 0 부터 시작하도록 reset하세요

In [47]:
wine.reset_index(drop = True, inplace=True)

In [48]:
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,10.00,1.95,16.8,100.0,3.49,2.18,0.86
2,14.12,1.48,16.8,95.0,2.43,1.57,1.17
3,13.75,1.73,16.0,89.0,2.76,1.81,1.15
4,14.75,1.73,11.4,91.0,3.69,2.81,1.25
...,...,...,...,...,...,...,...
164,13.71,5.65,20.5,95.0,0.61,1.06,0.64
165,13.40,3.91,23.0,102.0,0.75,1.41,0.70
166,13.27,4.28,20.0,120.0,0.69,1.35,0.59
167,13.17,2.59,20.0,120.0,0.68,1.46,0.60
168,14.13,4.10,24.5,96.0,0.76,1.35,0.61