### Step 1. 필요한 라이브러리 들을 import 하세요

In [1]:
import pandas as pd

### Step 2. 다음 raw_data 를 이용하여 DataFrame을 만드세요

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. regiment 라는 변수에 DataFrame을 할당 하세요.
#### 각 column값을 raw_data의 key값으로 설정하세요

In [4]:
regiment = pd.DataFrame(raw_data, columns=raw_data.keys())

In [5]:
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Step 4. Nighthawks regiment의 평균 preTestScore는 얼마입니까?

In [13]:
# 방법1. groupby
regiment.groupby("regiment").mean(numeric_only=True).loc["Nighthawks"].preTestScore

15.25

In [16]:
# 방법2. filtering
regiment[(regiment.regiment == "Nighthawks")]["preTestScore"].mean()

15.25

### Step 5. company의 종합 통계량을 제시하세요

In [17]:
regiment.groupby("company").describe()

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### Step 6. 각 company의 평균 preTestScore는 얼마입니까?

In [18]:
regiment.groupby("company").preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. regiment 별 company의 평균 preTestScores 제시하세요

In [19]:
regiment.groupby(["regiment","company"]).preTestScore.mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. regiment 별 company의 평균 preTestScores를 heirarchical indexing 없이 제시하시오.
#### Hint : unstack() https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html?highlight=unstack

In [22]:
regiment.groupby(["regiment","company"]).preTestScore.mean().unstack(-2)

regiment  Dragoons  Nighthawks  Scouts
company
1st            3.5        14.0     2.5
2nd           27.5        16.5     2.5

In [23]:
regiment.groupby(["regiment","company"]).preTestScore.mean().unstack(-1)

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Step 9. regiment 별 company에 대해 다음과 같은 통계량을 제시하시오.
#### preTestScore, postTestScore의 평균

In [28]:
regiment.groupby(["regiment","company"])[["preTestScore", "postTestScore"]].mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

In [29]:
regiment.groupby(["regiment","company"])[["preTestScore", "postTestScore"]].mean().unstack(-1)

           preTestScore       postTestScore
company             1st   2nd           1st   2nd
regiment
Dragoons            3.5  27.5          47.5  75.5
Nighthawks         14.0  16.5          59.5  59.5
Scouts              2.5   2.5          66.0  66.0