# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. 필요한 librarie들을 import 하세요

In [2]:
import pandas as pd
import numpy as np

### Step 2. 다음 주소의 dataset을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/student-mat.csv).

In [3]:
url = "https://raw.githubusercontent.com/myoh0623/dataset/main/student-mat.csv"

### Step 3. df라는 변수에 DataFrame을 할당하세요

In [4]:
df = pd.read_csv(url)

In [5]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. "school"부터 "guardian"까지 DataFrame을 슬라이싱 하여 stud_alcoh에 할당하세요. 단 "guardian" column이 포함되어야 합니다.

In [7]:
stud_alcoh = df.loc[:, "school":"guardian"]

In [8]:
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. 문자열의 앞글자를 대문자로 변경해주는 lambda 함수 또는 함수를 만드세요

In [9]:
"hello world".capitalize()

'Hello world'

In [10]:
"hello world".upper()

'HELLO WORLD'

In [13]:
capitalizer = lambda x:x.capitalize()

In [14]:
capitalizer("hello world")

'Hello world'

### Step 6. Mjob 와 Fjob column에 step5 에서 만든 function을 적용하고 원래 stud_alcoh DataFrame에 적용하세요

In [16]:
stud_alcoh.Mjob = stud_alcoh.Mjob.apply(capitalizer)
stud_alcoh.Fjob = stud_alcoh.Fjob.apply(capitalizer)
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

In [13]:
stud_alcoh

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 7. legal_drinker 라는 Column을 만들고 다음과 같은 내용을 추가 합니다.
- 18세 이상은 True, 18세 미만은 False

In [18]:
# stud_alcoh["legal_drinker"] = stud_alcoh.age >= 18

In [19]:
def legal_drinker(x):
    if x>= 18:
        return True
    else:
        return False
stud_alcoh["legal_drinker"] = stud_alcoh.age.apply(legal_drinker)

In [20]:
stud_alcoh.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

### Step 8. 숫자로된 dataset에 10을 곱하세요
- 아무의미 없음

In [25]:
stud_alcoh.dtypes == "int64"

school           False
sex              False
age               True
address          False
famsize          False
Pstatus          False
Medu              True
Fedu              True
Mjob             False
Fjob             False
reason           False
guardian         False
legal_drinker    False
dtype: bool

In [29]:
def times_10(x):
    if type(x) is int:
        return 10*x
    else:
        return x

In [30]:
stud_alcoh.map(times_10) #함수를 df 전체에 적용

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,True

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,True

In [1]:
# 추천책 : 파이토치 트랜스포머를 활용한 자연어 처리와 컴퓨터비전 심층학습
# DNN -> CNN,RNN -> seq2seq -> attention -> transformers -> BERT, GPT .. -> LLM(fine tun -> full fine(x), lora-tune, q-lora)